


#header h2, h3 {
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    margin-left: 30%;
 }

.link1 , .link2 , .link3 {
    display: inline-block;
    position: sticky; 

 }
/* #header {
    margin-right: 20%;
    margin-left: 20%;
} */



hr {
    width: 80%;
    margin-left: 0%;
    text-align: right;
    background-color: black;
    border-style: solid;
    min-width: fit-content;

}
h4 {
font-style: italic ;
margin-left: 30%;
font-weight: lighter;
}


a {
    color: black;
    text-decoration-line: none;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: left;
    line-height: 1.6;
    color: black;
    margin-left: 30%;
    margin-right: 30%;
}

.Jeek {
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    text-align: left;
    color: black;
    margin-left: 30%;
    margin-right: 30%;
}
li {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: left;
    color: black;
}

ul {
    padding: auto;
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    border-style:inset;
    font-style: italic;
    font-size: 20px;

}
.Salut {
    text-align: center;
}

.Lol1 {
   
  justify-content: center;
  display: flex;
  align-items: center;
    
}

.Wow1 {
    justify-content: center;
    display: flex;
    align-items: center;
}

.img1 {
    justify-content: center;
    display: flex;
    align-items: center;
}


.Contact1 {
text-align: center;
}

.Contact2 {
    text-align: center;
}
.Contact3 {
    text-align: center;
}

.Contacts {
    width: 200px;
    border: 5px solid gray;
    padding: 20px;
    margin: 10px;
    margin-left: 43%;
   }
   
   .button1 {
       margin-left: 65%;
   }


 .hr1 {
     width: 67%;
     margin-left: 30%;
   }

   @media (max-width: 700px) {
    .img1 {
        width: 100%;
        height: auto;
        
    }
    }

    @media (max-width: 400px) {
        .img1 {
            width: 50%;
            height: auto;
            
        }
        }
    

